@import "tailwindcss";
.font{
    font-family: "Hind Madurai", sans-serif;
}

@media screen and (max-width: 576px) {
    #navh1{
        display: none;
    }
    .navIcon{
        padding: 5px 20px;
    }
    #sectionWidth{
        max-width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    #gridItems{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        text-align: center;
    }
    #HistoryContainer{
        margin-bottom: 22px;
    }
}